.jumpGame {
  height: 300px;
  background: var(--color-orange);
}

.jumpGame-menu {
  &__button {
    width: 46px;
    height: 46px;
    border-radius: 4px;
    margin: 4px;
    border: none;
    cursor: pointer;
    text-align: center;
    padding: 2px 0 0 0;
    font-size: 16px;
    background: var(--color-gray);
    color: var(--color-lightGreen);
  }
}

.jumpGame-area {
  width: 500px;
  height: 200px;
  margin: 0 auto;
  padding: 0;
  background: black;
  display: none;
  &__sprite {
    width: 25px;
    height: 50px;
    background: greenyellow;
    position: relative;
    top: 150px;
    left: 25px;
  }
  &__js {
    padding: 0;
    margin: 0;
    animation: runJS 1s linear infinite;
    width: 25px;
    height: 25px;
    text-align: center;
    color: var(--color-gray);
    font-size: 20px;
    background-color: yellow;
    position: relative;
    top: 125px;
    left: 0;
  }
}

.animation {
  animation: myJump 0.5s ease-out;
}

@keyframes runJS {
  0% {
    left: 480px;
  }
  100% {
    left: 0;
  }
}

@keyframes myJump {
  0% {
    top: 150px;
  }
  30% {
    top: 100px;
  }
  70% {
    top: 100px;
  }
  100% {
    top: 150px;
  }
}
